% extends "crud_base.html" %}
{% block title %}Empleados de {{ site_name }}{% endblock %}
{% block pagetitle %}Listado de empleados{% blockend %}
{% block body %}
<form data-abide novalidate action="/create_employee/">
<div class="row">
  <div class="columns">
    <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
  </div>
</div>
<div class="row">

  <div class="small-12 columns">
    <label>Nombre
      <input name="employee_name" type="text" placeholder="Juan" required>
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Apellidos
      <input name="employee_last_name" type="text" placeholder="Garcilazo" required>
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Email
      <input name="employee_email" type="text" placeholder="jgarcilazo@walook.com.mx" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Tel&eacute;fono
      <input name="employee_phoenumber" type="text" placeholder="999124567" required pattern="number">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>


</div>


{% blockend %}
