{% extends "crud_base.html" %}
{% block title %}Registrar un empleado{% endblock %}
{% block pagetitle %}A&ntilde;adir un empleado{% endblock %}
{% block body %}
<form data-abide novalidate action="{% block action %}/create_employee/{% endblock %}" method="get">

<div class="row">
  <div class="small-2 columns">&nbsp;</div>

  <div class="small-10 columns">
<div class="row">
  <div class="columns">
    <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <label>Nombre
      <input name="employee_name" type="text" placeholder="Juan" required value="{% block name %}{% endblock %}">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Apellidos
      <input name="employee_last_name" type="text" placeholder="Garcilazo" required value="{% block lastname %}{% endblock %}">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Email
      <input name="employee_email" type="text" placeholder="jgarcilazo@walook.com.mx" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value="{% block email %}{% endblock %}">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Tel&eacute;fono
      <input name="employee_phoenumber" type="text" placeholder="999124567" required pattern="number" value="{% block phonenumber %}{% endblock %}">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>
</div>

{% block id %}{% endblock %}

<input name="sitio_id" type="hidden" value="{{sitio.id}}"/>

<div class="row">
  <fieldset class="medium-6 columns">
    <button class="button" type="submit" value="Aceptar">Submit</button>
  </fieldset>
  <fieldset class="medium-6 columns">
    <button class="button" type="reset" value="Reset">Reset</button>
  </fieldset>
</div>
</form>
</div>
</div>


{% endblock %}
