{% extends "crud_base.html" %}
{% block title %}Registrar un site{% endblock %}
{% block pagetitle %}A&ntilde;adir un site{% endblock %}
{% block body %}
<form data-abide novalidate action="{% block action %}/create_site/{% endblock %}" method="get">

<div class="row">
  <div class="small-2 columns">&nbsp;</div>

  <div class="small-10 columns">
<div class="row">
  <div class="columns">
    <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <label>Nombre
      <input name="site_name" type="text" placeholder="Walook" required value="{% block name %} {% endblock %}">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  <div class="small-12 columns">
    <label>Direcci&oacute;n
      <input name="site_dir" type="text" placeholder="Calle 45b No 338 entre 44 y 46 Pensiones" required value="{% block dir %} {% endblock %}">
      <span class="form-error">
        Campo requerido.
      </span>
    </label>
  </div>

  {% block id %}{% endblock %}
<div class="row">
  <fieldset class="medium-6 columns">
    <button class="button" type="submit" value="Aceptar">Submit</button>
  </fieldset>
  <fieldset class="medium-6 columns">
    <button class="button" type="reset" value="Reset">Reset</button>
  </fieldset>
</div>
</form>
</div>
</div>
{% endblock %}
