{% extends "crud_base.html" %}
{% block title %}Sitios{% endblock %}
{% block pagetitle %}Listado de sitios{% endblock %}
{% block body %}
<div class="small-2 columns"> &nbsp; </div>

<div class="small-8 columns">

  {% for sitio in sitio_list %}
  <div class="row">
    <div class="callout primary small-12 columns">
      <h5>{{ sitio.nombre }}</h5>
      <p>{{ sitio.direccion }}</p>
      <a class="button" href="/edit_sitio/?id={{sitio.id}}">Editar</a> <a class="button" href="/empleados_sitio/?id={{sitio.id}}">Ver lista de empleados</a> <a class="button alert" href="/delete_sitio/?id={{sitio.id}}">Eliminar</a> 
    </div>
  </div>

  {% empty %}
  <div class="row">
    <div class="callout alert small-12 columns">
      <h5>No hay sitios registrados</h5>
      <p>Para registrar sitios utiliza la p&atilde;gina de <a href="">registro</a>.</p>
    </div>
  </div>

  {% endfor %}

</div>

<div class="small-2 columns"> <a href=""><img src="http://www.freeiconspng.com/uploads/settings-icon-6.png" width="70" height="70"/></a> </div>

{% endblock %}
