{% extends "crud_base.html" %}
{% block title %}Empleados de {{ site_name }}{% endblock %}
{% block pagetitle %}Listado de empleados{% endblock %}
{% block body %}
<div class="small-2 columns"> &nbsp; </div>

<div class="small-8 columns">

  {% for empleado in empleado_list %}
  <div class="row">
    <div class="callout primary small-12 columns">
      <h5>{{ empleado.nombre }} {{ empleado.apellido }}</h5>
      <p>Tel&etilde;fono: {{ employe.telefono }}</p>
      <p>Email: {{ employe.correo }}</p>
    </div>
  </div>

  {% empty %}
  <div class="row">
    <div class="callout alert small-12 columns">
      <h5>No hay empleados registrados en el sitio</h5>
      <p>Para registrar empleados utiliza la p&atilde;gina de <a href="">registro</a>.</p>
    </div>
  </div>

  {% endfor %}

</div>

<div class="small-2 columns"> <a href=""><img src="http://www.freeiconspng.com/uploads/settings-icon-6.png" width="70" height="70"/></a> </div>

{% endblock %}
